{% load static %}
<html>
 <head>
        <title>Siemka tasiemka</title>
        <link rel="stylesheet" href="{% static 'zachodSlonca/stylesheet.css' %}">
        <!-- <script src="{% static 'compiler_site/script.js' %}"></script> -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


<body>
<header>
    <p>Headerek</p>
    <div class="top_panel">

        <a href="{% url 'zachodSlonca:dodaj_trase' %}" id="login_link">Dodaj traskę, mordeczko</a>
    </div>
</header>
<div class="main_content">
    <div class="two"><a href="{% url 'zachodSlonca:wyswietl_mape' %}" id="map_link">Dom-MIM</a></div>
</div>



</body>
</html>