body {
    margin: 0px;
    background-color: peachpuff;

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 9fr);
    width: 100vw;
    height: 100vh;
}

div.main_content {
    display: grid;
    grid-row: 2/-1;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    background-color: peachpuff;
}

div.one {
    background-color: red;
}

div.two {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: papayawhip;
}

div.three {
    background-color: green;
}

div.four {
    background-color: pink;
}

div.five {
    background-color: yellow;
}

div.six {
    background-color: blue;
}

div.eight {
    background-color: red;
}

div.nine {
    background-color: papayawhip;
}

div.seven {
    background-color: green;
}

.hid {
    display: none;
}

#mapa {
    position: absolute;
    width: 400px;
    max-height: 600px;
}

#info-o-połączeniu {
    position: absolute;
    top: 0;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    display: none;
}

#opóźnienie {
    color: red;
}

#wrapper-mapy {
    position: relative;
    z-index: 2;
}

th {
    text-align: center;
}

#nagłówek {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#chamska-mapa-bo-nie-lubię-grida {
    position: absolute;
    top: 50px;
}